.header {
  font-family: "Heebo", sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 1000;
  font-size: 2rem;
  text-align: center;
  padding: 3rem;
  color: rgb(88, 84, 65);
}

#form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#text {
  height: 3rem;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 61%);
  font-family: "Heebo", sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  width: 40%;
  outline: none;
}

label {
  font-family: "Heebo", sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-size: 1rem;
  padding: 0 0 0 2rem;
}

#sha {
  font-family: "Heebo", sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 1rem;
  margin: 5px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 61%);
}

#btn {
  font-family: "Heebo", sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 800;
  font-size: 1rem;
  margin: 1.5rem;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 61%);
  background-color: hsl(0, 0%, 93%);
}

.result {
  font-family: "Heebo", sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 800;
  font-size: 1.6rem;
  overflow-wrap: break-word;
  margin: 5px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 61%);
}
* {
  box-sizing: border-box;
  background-color: hsl(0 0% 93%);
}
